@import url("./style.css");

body.draft {
      background: #fff url(../img/bibframe-community-draft.png) 0 3em fixed no-repeat;
      min-height: 240px;
      padding-left: 0px;
      padding-right: 0px;
}

.toc ol {
  counter-reset: section;
  list-style-type: none;
}
                
.toc ol li { counter-increment: section; }
           
.toc ol li:before  { content: counters(section, ".") ". "; }

.body { counter-reset: section; }
       
.section h2 { 
       counter-increment: section;
       counter-reset: sub-section;
}
                                                       
.section h2:before, .section h3:before { content: counter(section) "." counter(sub-section) " "; }

.section h3:before {
       counter-increment: sub-section;
}

.section h3:before, .section h4:before { content: counter(section) "." counter(sub-section) "." counter(sub-sub-section) " "; }

.section h4:before {
       counter-increment: sub-sub-section;
}
